.idea
.git
.gitignore
LICENSE
VERSION
README.md
Changelog.md
Makefile
docs
logs
media
venv
.env
.venv
*.sqlite3
**/.env
Dockerfile
docker-compose.yml
celerybeat-schedule
htmlcov/
coverage
.coverage.*
.converagerc